*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html, body{
    width:100%;
    height: 100%;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: start;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}
body{
    max-width: 500px;
}
header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 0 20px;
    top:0;
    left: 0;
    z-index: 1000;
    background-color: white;
}
main{
    flex: 1;
    overflow: auto;
    margin: 0 auto;
    padding: 0 20px;
    border-radius: 4px;
    width: 100%;
    max-width: 100%;
    position: relative;
}
h1{
    padding-bottom: 15px;
}
h2{
    padding-bottom: 5px;
}
li{
    font-style: italic;
}
button{
    background-color: #ccc;
    color: #333;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 5px;
    margin:5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
    0 2px 4px rgba(0, 0, 0, 0.06);
}
button:hover{
    cursor:pointer;
}
select{
    margin-bottom: 5px;
    padding: 5px 0;
    font-size: 12px;
}
label{
    margin-right: 5px;
}
input[type="number"] {
    font-size: 12px;
    padding: 2px;
    width: 5ch;
}
input:hover{
    cursor: pointer;
}
option p{
    background-color: #f0f0f0;
    padding: 5px;
}
footer{
    padding: 10px;
}