/*-----------------------------------------------------------------------------*/
/*                               HEADER                                        */
/*-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------*/
/*                          PEDIDO                                     */
/*-----------------------------------------------------------------------------*/
.command-box{
    background-color:#f0f0f0;
    width: 100%;
    padding: 8px 10px;
    height: fit-content;
    border-bottom-left-radius: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ordered-item{
    border: 1px dashed #333;
    padding: 5px;
    margin: 5px 0;
    width: 100%;

/*-----------------------------------------------------------------------------*/
/*                              CARDÁPIO                                       */
/*-----------------------------------------------------------------------------*/
.view-menu-box{/*pagina do cardápio*/
    position: absolute;
    right: 20px;
    left: 20px;
    background-color:rgb(255, 244, 227);
    padding: 10px;
    width: fit-content;
    max-width: 94%;
    height: 80vh;
    overflow: auto;
    border-radius: 15px;
    display: none;
    flex-direction: column;
    box-shadow: 0 4px 8px #00000033;
    z-index: 1000;
    outline: 1px dashed #333;
}
.menu-title{/*titulos do cardápio 'pizzas/bebidas*/
    border-bottom: 2px dashed black;
    text-align: center;
    padding: 3px;
    margin: 15px 0;
}
.menu-item{/*Itens do menu*/
    margin: 3px 0;
}
.pizza-description{/*Descrições de cada item*/
    margin-left: 25px;
}
/*-----------------------------------------------------------------------------*/
/*                        UNIDADE DE PIZZA                                     */
/*-----------------------------------------------------------------------------*/
.unit-pizza-box{/*Div pai com as opções de escolhas de uma pizza.*/
    outline: 1px dashed #777;
    padding: 10px;
    margin: 15px 0;
}
.border-pizza-box, .size-pizza-box{/*Box com opções de bordas*/

    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: start;
}
.choose-pizza-box{/*box referente aos campos para escolher sabores*/
    display: flex;
    flex-direction: column;
    position: relative;
}
.flavor_three, .flavor_four{/*Referente ao terceiro e quarto sabro que só devem aparecer conforme escolha de tamanhos.*/
    display: none;
}
/*-----------------------------------------------------------------------------*/
/*                        UNIDADE DE BEBIDA                                    */
/*-----------------------------------------------------------------------------*/
.command-drink{/*Div pai com as opções de escolhas de uma bebida*/
    outline: 1px dashed #333;
    padding: 10px;
    margin: 15px 0;
}
.choose-drink-box, .unit-input-drink{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.unit-input-drink{
    padding-bottom: 10px;
}